.header {
    display: flex;
    justify-content: space-between;
    border: 5px solid orangered;
    padding: 0 1px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
}

ul a {
    margin-left: 30px;
    text-decoration: none;
    padding: 5px;
  
}

.btn{
    color: brown;
    padding: 15px;
    background: pink;
    font-family: cursive;
}

.logo{
    width: 20%;
}

.logo img{
    width: 100%;
    margin-left: 5px;
}

.menu{
    font-size: 30px;
    width: 80%;


}

.bg-img {
    background:url(../pic/bikash/bikash\ -\ Copy.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 25px;
}

h1 {
    text-align: center;
    color: darkblue;
    font-size: 65px;
    text-transform: capitalize;
    margin: 0%;

}
p {
    text-align: center;
    color: white;
    font-size: 29px;
    text-transform: capitalize;
}

 .bg-img a{
    padding: 10px;
    color: white;
    background-color: red;
 }

.boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-items img{
    width: 100%;
    border-radius: 100%;
    height: 215px;
}

.box-items{
    background-color: burlywood;
    width: 32%;
    padding: 20px;
}

.service {
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
    margin: 4px;
    background-color: bisque;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


h3{
    font-size: 40px;
    color: red;
}

.box-items p{
    font-size: 20px;
    font-style: italic;
}

.menu a:hover{
    color: red;
}

